#title {
  border-top: 1px solid black 2rem;
  padding: 1rem;
  margin-left: 2rem;
  float: left;
}

#sub {
  float: right;
  display: flex;
  margin: 2rem;
}

section {
  height: 1rem;
  text-align: center;
}

#menu > li {
  display: inline-block;
  padding: 1rem;
}
